<!doctype html>
<html lang="en-US">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/0729182226.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-qrcode-reader@2.3.15/dist/VueQrcodeReader.umd.min.js"></script>

 <!-- <script>
    let map;
    function initMap(){
      
      // Map options

      var options = {
        zoom:8, 
        center:{lat: 42.3601, lng: -71.0589}
      }
      // New map
      map = new google.maps.Map(document.getElementById("map"), options)
      // Add marker
     // var marker = new google.maps.Marker({
       // position:{lat:42.4668, lng:-70.9495},
       // map:map,
      //  icon:
     // })
     // map = new google.maps.Map(document.getElementById("map") as HTMLElement, {
       //    center: { lat: -34.397, lng: 150.644 },
         //  zoom: 8,
      //});
    }
  </script>
  <script async defer 
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC88_81IEqbeUIX9EcF-eDt3LRQujgMMKc&callback=initMap&libraries=&v=weekly"
></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script> -->
 


  <title>app</title>
</head>

<body>
  <div id="app" class="text-center">
    <div v-if="loggedIn">
      <div v-if="admin">
        <nav class="navbar fixed-bottom navbar-expand-lg navbar-light bg-light d-flex justify-content-around flex-row">
          <button style="text-align: center; background: none; border: none;" v-on:click="ADMUOverviewPage">
            <i class="fas fa-user-friends" style="font-size: 40px;"></i><br>
            Brugere
          </button>

          <button style="text-align: center; background: none; border: none;" v-on:click="ADMCyclesPage">
            <i class="fas fa-bicycle" style="font-size: 40px;"></i><br>
            Cykler
          </button>

          <button style="text-align: center; background: none; border: none;"v-on:click="ADMMessagesPageCall">
            <i class="fas fa-user-alt" style="font-size: 40px;"></i><br>
            Beskeder
          </button>
          <button style="text-align: center; background: none; border: none;" v-on:click="ADMSettingPage">
            <i class="fas fa-wrench" style="font-size: 40px;"></i><br>
            Indstillinger
          </button>
        </nav>
        <h1>HELLO BOSS MAN</h1>

        <div v-if="ADMOverviewPage">
          <div class="container">
          <select v-model="selectedUser" style="max-width: 80%;">
            <option value=""  disabled selected>Select a user</option>
            <option style="max-width: 80%;" v-for="user in users" > {{user.user_id}}. Fornavn: {{user.user_firstname}} <br> Email: {{user.user_email}} 
            </option>
          </select>
          <br>
          <br>
          <div>Selected: {{ selectedUser }}</div>
          <br>
          <br>
          <button class="btn btn-danger" id="DeleteUserAdmin" v-on:click="ADMHentUserIDFraSelect()">Slet User</button>
        </div>
        </div>

        <div v-if="ADMMessagesPage">

        </div>

        <div v-if="ADMCyclePage">
          <br>
          <select v-model="select">
            <option value=""  disabled selected>Select a bike</option>
            <option v-for="cycle in cycles2"> {{cycle.cycle_id}}
            </option>
          </select>
          <span>Selected: {{ select }}</span>
          <button v-model="cycleDetails" class="btn btn-primary"id="SeDetaljerKnap" v-on:click="ADMSeCykelDetails">Se yderligere Detaljer</button>
          <p>{{ cycleDetails }}</p>
          <br>
          <br>
          <button class="btn btn-success" id="AvaliableButton" v-on:click="Avaliable">Avaliable</button>
          <button class="btn btn-warning" id="UnavaliableButton" v-on:click="Unavaliable">Unavaliable</button>
          <button class="btn btn-primary" id="HentCykelBesked" v-on:click="ADMHentBeskederCykel()">Hent Beskeder</button>
          <br>
          <button class="btn btn-danger" id="DeleteCycleAdmin" v-on:click="ADMHentCykelIDFraSelect">Slet cykel</button>
          <br>
          <br>
          <ol id="CykelBeskedListe" v-if="AllMessagesBike.length">
            <li v-for="XX in AllMessagesBike">
              id: {{XX.messages_Id}} user: {{XX.messages_user_id}} cykel: {{XX.messages_cycle_id}} emne: {{XX.messages_emne}} beskeder: {{XX.messages_besked}} status: {{XX.messages_status}}
            </li>
          </ol>
          <div v-else>Ingen Beskeder</div>
          <br>
          <br>
          <label for="Cykel Navn" class="float-left">Cykel navn:</label><br>
          <input id="cycle_new_name" class="form-control" v-model="NewCycleName" placeholder="Cykelens navn">
          <button class="btn btn-primary" id="OpretNyCykel" v-on:click="ADMAddBike()">Opret cykel i database</button>
        </div>

        <div v-if="ADMSettingsPage">
          <button class="btn btn-warning" v-on:click="logout">Logud</button>
        </div>
      </div>

      <div v-else>
        <nav class="navbar fixed-bottom navbar-expand-lg navbar-light bg-light ">
          <button style="text-align: center; background: none; border: none;" id="NAVOverview"
            v-on:click="OverviewPage">
            <i class="fas fa-map-marker-alt" style="font-size: 40px;"></i><br>
            Kort
          </button>
          <button style="text-align: center; background: none; border: none;" id="NAVQR" v-on:click="QRPage">
            <i class="fas fa-qrcode" style="font-size: 40px;"></i><br>
            Scan Cykel
          </button>
          <button style="text-align: center; background: none; border: none;" id="NAVProfile" v-on:click="Profile">
            <i class="fas fa-user-alt" style="font-size: 40px;"></i><br>
            Profil
          </button>
          <button style="text-align: center; background: none; border: none;" id="NAVSettings" v-on:click="Settings">
            <i class="fas fa-wrench" style="font-size: 40px;"></i><br>
            Indstillinger
          </button>
        </nav>

        <div id="overviewPage" v-if="Cykellisteside">
          <br>
          <select v-model="select" id="cykelUdenQR" v-on:click="HentCykelIDSelect()">
            <option value="" disabled selected>Vælg en Cykel</option>
            <option v-for="cycle in cycles2"> {{cycle.cycle_id}}
            </option>
          </select>
          <span>Selected: {{ select }}</span>
          <br>
          <br>
          <br>
          <button class="btn btn-success" id="StartUdenSkan" v-on:click="HentCykelIDFraSelect();">Start</button>
          <button class="btn btn-warning" id="SlutUdenSkan" v-on:click="HentCykelIDFraSelectEnd();">Slut rute</button>
          <br>
          <br>
          <p>Er der skader på cyklen?</p>
          <a href="mailto:KU-Bikes@QR.com?subject=Indgiv skade&body=Rappoter skade på cykel:">
            <button class="btn btn-primary" id="btnOutlook">Indgiv skade fra outlook app</button>
          </a>
          <input type="text" v-model="messageSubject" placeholder="Beskriv emne">
          <input type="text" v-model="messageText" placeholder="Skriv beskrivelse">
          <br>
          <button class="btn btn-warning" id="indgivSkadeUdenScan" v-on:click="opretMessage();">Indgiv skade via
            app</button>
          <br>
          <br>
          <p>Mangler cykel fra placering?</p>
          <button class="btn btn-danger" id="StolenBike" v-on:click="opretStolen();">Meld manglede cykel</button>
        </div>

        <div id="scanPage" v-if="QR_ScanPage">
          <H2>QR-Scanner</H2>
          <p>Når du ser en rød firkant omkring din QR-kode, så er koden scannet</p>
          <!--<p>
        Last result: <b>{{ decodedContent }}</b> <b>{{cycle_id}}</b>
        </p>-->
          <button class="btn btn-success" id="BTNGetbike" v-on:click="SpecificCyclePage"> Hent cykel</button>
          <!--<p class="error">
          {{ errorMessage }}
        </p> -->

          <qrcode-stream @decode="onDecode" @init="onInit"></qrcode-stream>

        </div>


        <div id="cyclePage" v-if="cyclePage">
          <div v-if="cycle_id">
            <div id="virk" class="container">
              <h2>Du har valgt en cykel</h2>
              <p>Cykel id: {{ cycle_id }} </p>
              <p>
                <button name="START" id="StatButton" style="visibility: visible;" class="btn btn-success"
                  v-on:click="CheckIfBikeIsAvailable();">Start
                  tur</button>
                <button class="btn btn-danger" id="SlutButton" v-on:click="EndTripTime();">Slut tur</button>
              <h4>Skade på cykel?</h4>
              <p>
                <a href="mailto:KU-Bikes@QR.com?subject=Indgiv skade&body=Rappoter skade på cykel:">
                  <button class="btn btn-primary" id="btnOutlook">Indgiv skade fra outlook app</button>
                </a>
              <p>eller brug vores app</p>
              <input type="text" class="form-control" v-model="messageSubject" placeholder="Beskriv emne">
              <input type="text" class="form-control" v-model="messageText" placeholder="Skriv beskrivelse">
              <br>
              <button class="btn btn-warning" id="indgivSkadeUdenScan" v-on:click="opretMessage();">Indgiv skade via
                app</button>
              <p>Eller send en mail til KU-Bikes@QR.com</p>
              </p>
            </div>
          </div>
        </div>

        <div id="profilePage" v-if="profilePage">
          <h2>PROFIL</h2>
          <div class="container">
            <p>ID: {{ CurrentUserId }}</p>
            <p>Navn: {{ CurrentUserName }} {{ CurrentLastName }}</p>
            <p>Email: {{ CurrentEmail }} </p>
            <p>Telefon: {{ CurrentPhone  }} </p>
          </div>
          <button class="btn btn-primary" v-on:click="UpdateUserPage">Rediger oplysninger</button>
          <br>
          <br>
          <a href="mailto:KU-Bikes@QR.com?subject=Indgiv ris eller ros&body=Ris/Ros til KU-bikes:">
            <button class="btn btn-primary" id="btnOutlook">Send Ris eller Ros fra outlook app</button>
          </a>
        </div>

        <div v-if="updateUserPage">
          <h2>Rediger dine oplysninger</h2>
    
          <div>
               <label style="display: block;" for="updateEmail">Email:</label>
            <p>{{ CurrentEmail }}</p>
          <!-- <input type="text" name="updateEmail" v-model="updateUserData.user_email" value="user_email" id="updateEmail"> -->

            <label style="display: block;" for="updateName">Navn:</label>
            <input type="text" name="updateName" v-model="updateUserData.User_firstname" id="updateName">

            <label style="display: block;" for="updateLastname">Efternavn:</label>
            <input type="text" name="updateLastname" v-model="updateUserData.User_lastname" 
              id="updateLastname">

            <label style="display: block;" for="updatePhone">Telefon:</label>
            <input type="text" name="updatePhone" v-model="updateUserData.User_mobile" id="updatePhone">
          </div>
          <br>
          <button class="btn btn-success" v-on:click="updateUser()">Gem</button>
          <div>{{updateMessage}}</div>
        </div>

        <div id="settingsPage" v-if="settingsPage">
          <h2>SETTINGS</h2>
          <div class="container myMargin">
            <button class="btn btn-warning" v-on:click="logout">Logud</button>
            <button class="btn btn-danger" v-on:click="deactivateUser"  >Slet bruger</button>
          </div>
        </div>
      </div>
    </div>

    <div v-else>
      <div v-if="loginPage">
        <div class="container">
          <h2>Login</h2>
          <div class="form-group" id="login-page-form">
            <label for="Email" class="float-left">Email</label><br>
            <input id="login-email" type="email" class="form-control" v-model="loginEmail" placeholder="Email">
            <label for="password" class="float-left">Password</label><br>
            <input id="login-password" type="Password" class="form-control" v-model="loginPassword" name="password"
              placeholder="Password">
            <div class="text-warning">{{ errorMessage }}</div> <br>
            <button class="btn btn-success" id="BTNlogin" v-on:click="loginTry">Login</button>
            <button class="btn btn-primary" v-on:click="createPage">Opret Bruger</button>
          </div>
        </div>
      </div>
      <div v-if="createUserPage">
        <div class="container">
          <h2>Opret bruger</h2>
          <div class="form-group" id="opret-page-form">
            <label for="email" class="float-left">Email</label><br>
            <input type="email" class="form-control" v-model="addData.user_email" id="opret-email" placeholder="Email">
            <label for="password" class="float-left">Password</label><br>
            <input type="Password" class="form-control" v-model="addData.user_password" id="opret-password"
              placeholder="Password">
            <label for="name" class="float-left">Fornavn</label><br>
            <input type="text" class="form-control" v-model="addData.user_firstname" id="opret-name"
              placeholder="Fornavn">
            <label for="lastname" class="float-left">Efternavn</label><br>
            <input type="text" class="form-control" v-model="addData.user_lastname" id="opret-lastname"
              placeholder="Efternavn">
            <label for="phone" class="float-left">Telefon nummer</label><br>
            <input type="number" class="form-control" id="opret-phone" v-model.number="addData.user_mobile" id="phone"
              placeholder="Telefon Nummer">
              <label for="QuestionOne" class="float-left">Sikekrheds spørgsmål 1</label><br>
            <input type="text" class="form-control" id="opret-sikkerhedEt" v-model="addData.userQuestionOne" 
              placeholder="Sikkerheds spørgsmål 1">
              <label for="AnswerOne" class="float-left">Svar til sikekrheds spørgsmål 1</label><br>
            <input type="text" class="form-control" id="opret-svarEt" v-model="addData.userAnswerOne" 
              placeholder="Svar til sikkerheds spørgsmål 1">
              <label for="QuestionTwo" class="float-left">Sikekrheds spørgsmål 2</label><br>
            <input type="text" class="form-control" id="opret-sikkerhedTo" v-model="addData.userQuestionTwo" 
              placeholder="Sikkerheds spørgsmål 2">
              <label for="AnswerOne" class="float-left">Svar til sikekrheds spørgsmål 2</label><br>
            <input type="text" class="form-control" id="opret-svarTo" v-model="addData.userAnswerTwo" 
              placeholder="Svar til sikkerheds spørgsmål 2">
              <label for="QuestionOne" class="float-left">Sikekrheds spørgsmål 3</label><br>
            <input type="text" class="form-control" id="opret-sikkerhedTre" v-model="addData.userQuestionThree" 
              placeholder="Sikkerheds spørgsmål 3">
              <label for="AnswerOne" class="float-left">Svar til sikekrheds spørgsmål 3</label><br>
            <input type="text" class="form-control" id="opret-svarTre" v-model="addData.userAnswerThree" 
              placeholder="Svar til sikkerheds spørgsmål 3">
            <br>
            <p id="demo"></p>
            <div class="text-warning">{{ errorMessage }}</div> <br>
            <button class="btn btn-success" v-on:click="addUser">Opret bruger</button>
            <button class="btn btn-warning" id="login" v-on:click="backToLoginPage">Tilbage</button>
          </div>
        </div>
      </div>
    </div>

  </div>
 
  <style>
    #login-page-form .error,
    #opret-page-form .error {
      border-color: red;
    }

    .myMargin button {
      margin: 15px auto;
      display: block;
    }

  </style>

  <script src="bundle.js"></script>

 
</body>

</html>