<!doctype html>
<html lang="en-US">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/0729182226.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-qrcode-reader@2.3.15/dist/VueQrcodeReader.umd.min.js"></script>


  <title>app</title>
</head>

<body>
  <div id="app">
    <div v-if="loggedIn">

      <nav class="navbar fixed-bottom navbar-expand-lg navbar-light bg-light ">
        <button style="text-align: center; background: none; border: none;">
          <i class="fas fa-map-marker-alt" style="font-size: 45px;"></i><br>
          Kort
        </button>
        <button style="text-align: center; background: none; border: none;"
        v-on:click="QRPage"
        >

          <i class="fas fa-qrcode" style="font-size: 45px;"></i><br>
          Scan Cykel
        </button>
        <button style="text-align: center; background: none; border: none;">
          <i class="fas fa-user-alt" style="font-size: 45px;"></i><br>
          Profil
        </button>
        <button style="text-align: center; background: none; border: none;">
          <i class="fas fa-wrench" style="font-size: 45px;"></i><br>
          Indstillinger
        </button>
      </nav>

      <div v-if="overviewPage">
        <button class="btn btn-success" v-on:click="getAllBikes">Get all bikes</button>
        <button class="btn btn-success" v-on:click="logout">Log out</button>
        <ul id="cyclelist" v-if="cycles.length">
          <li v-for="cycle in cycles" key="cycle_id">
            {{ cycle.cycle_name }}
          </li>
        </ul>
        <div v-else>Virker ikke</div>
      </div>

      <div v-if= "QR_ScanPage">
        <H2>QR-Scanner</H2>
        <p>
          Last result: <b>{{ decodedContent }}</b>
        </p>
      
        <p class="error">
          {{ errorMessage }}
        </p>
      
        <qrcode-stream @decode="onDecode" @init="onInit"></qrcode-stream>
      </div>


      <div v-if="cyclePage">
        <div v-if="cycle_id">
          <div class="container">
            <h2>TEST</h2>

            <p>Cykel navn: {{ singleCycle.cycle_name }} </h2>

          </div>
        </div>
      </div>
    </div>

    <div v-else>
      <div v-if="loginPage">
        <div class="container">
          <h2>Login</h2>
          <div class="form-group" id="login-page-form">
            <label for="Email">Email</label><br>
            <input id="login-email" type="email" class="form-control" v-model="loginEmail" placeholder="Email">
            <label for="password">Password</label><br>
            <input id="login-password" type="Password" class="form-control" v-model="loginPassword" name="password" placeholder="Password">
            <div class="text-warning">{{ errorMessage }}</div> <br>
            <button class="btn btn-success" id="login" v-on:click="loginTry">Login</button>
            <button class="btn btn-primary" v-on:click="createPage">Opret Bruger</button>
          </div>
        </div>
      </div>
      <div v-if="createUserPage">
        <div class="container">
          <h2>Opret bruger</h2>
          <div class="form-group" id="opret-page-form">
            <label for="email">Email</label><br>
            <input type="email" class="form-control" v-model="addData.user_email" id="opret-email" placeholder="Email">
            <div class="text-warning">{{ errorMessage }}</div>
            <label for="password">Password</label><br>
            <input type="Password" class="form-control" v-model="addData.user_password" id="opret-password"
              placeholder="Password">
            <label for="name">Fornavn</label><br>
            <input type="text" class="form-control" v-model="addData.user_firstname" id="name" placeholder="Fornavn">
            <label for="lastname">Efternavn</label><br>
            <input type="text" class="form-control" v-model="addData.user_lastname" id="lastname"
              placeholder="Efternavn">
            <label for="phone">Telefon nummer</label><br>
            <input type="text" class="form-control" v-model="addData.user_mobile" id="phone"
              placeholder="Telefon Nummer"><br>
            <button class="btn btn-success" v-on:click="addUser">Opret bruger</button>
            <button class="btn btn-success" id="login" v-on:click="login">Login</button>
            <div class="text-warning">{{ errorMessage }}</div>
          </div>
        </div>
      </div>
    </div>



  </div>
  <style>
    #login-page-form .error
    {
        border-color: red;
    }
  </style>
  <script src="bundle.js"></script>
</body>

</html>