<!doctype html>
<html lang="en-US">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <title>app</title>
</head>

<body>
  <h1>Login</h1>
  <div id="app">
    <div v-if="loggedIn">
      <button class="btn btn-success" v-on:click="getAllBikes">Get all bikes</button>
      <button class="btn btn-success" v-on:click="logout">Log out</button>
      <ul id="cyclelist" v-if="cycles.length">
        <li v-for="cycle in cycles" key="cycle_id" >
          {{ cycle.cycle_name }}
        </li>
      </ul>
      <div v-else>Virker ikke</div>
    </div>
    
    <div v-else>
      <label for="Email">Email</label><br>
      <input type="email" v-model="email" name="Email" placeholder="Email"><br>
      <label for="Password">Password</label><br>
      <input type="Password" v-model="password" name="Password" placeholder="Password"><br><br>
      <button class="btn btn-success" v-on:click="login">Login</button>
      <div class="text-warning">{{ errorMessage }}</div>
    </div>


  </div>

  <script src="bundle.js"></script>
</body>

</html>